# Local worker & Secrets
serviceAccountKey.json
answers_key.py

# Temp & Logs
*.log
node_modules/
.gemini_security/

# Data backups
extract_data.py
full_questions.json
full_answers.json
questions.json
answers.json

# Extra data
.gitignore
__pycache__/
